[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
flask-sqlalchemy = "*"
"psycopg2" = "*"
sqlalchemy-utils = "*"
flask-login = "*"
flask-wtf = "*"
werkzeug = "*"
flask-assets = "*"
flask-uploads = "*"
configparser = "*"
django = "*"
celery = {extras = ["redis"]}
flask-mail = "*"
flask-cors = "*"
sqlalchemy-searchable = "*"
boto3 = "*"
feedgen = "*"
mutagen = "*"
pillow = "*"

[dev-packages]
