{% include "layout.html" %}
{% include "header.html" %}

<script src="{{ url_for('static', filename='js/dropzone.js') }}"></script>
<link rel="stylesheet" type="text/css"
href="{{ url_for('static', filename='css/dropzone-css/dropzone.min.css') }}" />
<link rel="stylesheet" type="text/css"
href="{{ url_for('static', filename='css/dropzone-css/basic.min.css') }}" />
<script src="//cdnjs.cloudflare.com/ajax/libs/nanobar/0.2.1/nanobar.min.js"></script>
<div id="progress"></div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<style>
  #dz {
    border-style: dashed;
    border-color: rgb(0, 123, 255);
  }
  .green {
    color: green;
  }

  .red {
    color: red;
  }
</style>

<!-- Modal taken from  offical docs:
https://getbootstrap.com/docs/4.0/components/modal/
-->
<div class="modal fade" id="deleteconfirm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Deleting is irrecoverable. Are you sure?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <a href="{{ url_for('delete_sermon', id=id) }}"><button type="button" class="btn btn-danger">Confirm delete</button></a>
        </div>
      </div>
    </div>
  </div>
  

<div class="container">
  <div id="msg" class="alert alert-primary" style="display:none;">status</div>
  <div class="row h-100" height="100px">
    <div class="col-md-9" style="display:flex"><h4 class="display-4">Edit Sermon Info</h4></div>
    
    <div class="col-md-3" style="display:flex">
      <a style="margin-top:auto; margin-bottom: auto;" data-toggle="modal" data-target="#deleteconfirm"><button id="del" class="btn btn-danger">Delete Sermon</button></a>
    </div>
  </div>
  <form method="POST" action="{{ url_for('edit_sermon', id=id) }}" enctype="multipart/form-data">
      {{ form.csrf_token }}
      {{ form.title.label}} {{ form.title(class_="form-control") }}<br>
      {{ form.author.label }}{{ form.author(class_="form-control") }}<br>
      {{ form.date_given.label }} {{ form.date_given(class_="form-control", id="date_given", readonly="false") }}<br>
      {{ form.book_bible.label }}{{ form.book_bible(class_="form-control") }}<br>
      {{ form.chapter_book.label }}{{ form.chapter_book(class_="form-control") }}<br>
      {{ form.congregation.label }}{{ form.congregation(class_="form-control") }}<br>
      {{ form.sermon_series.label }} {{ form.sermon_series(class_="form-control") }}<br>
      {{ form.description.label }} {{ form.description(class_="form-control") }}<br>
      <input id="butt" type="submit" value="Modify" class="btn btn-primary">
  </form>
</div>

<div id="img"></div>

<script>
  // create a progress bar
  var options = {
    id: 'progress',
    target: document.getElementById('#progress')
  };

  var nanobar = new Nanobar( options );
  var status_url = "{{ url_for('task_status', t_id=task_id) }}";
  var done = false;
  msg = document.getElementById("msg");

  function update_prog(status_url, nanobar) {
    $.getJSON(status_url, function(data){
      console.log(data);
      var bar = nanobar.el[0];
      if(data['state'] == 'SUCCESS' || data['state'] == 'FAILURE') {
        done = true;
      }
      nanobar.go(data['current']);
      msg.style.display = "block";
      msg.innerHTML = data['status'];
    } );
  };

  window.setInterval(function(){
    var a = '{{task_id}}';
    if(a != 0 && !done) {
      update_prog(status_url, nanobar);
    }
  }, 500);

  // when a user selects the file, we want to generate a presigned url for them
  // to upload the data directly to S3 immediately.
  $("#sermon").change(function() {
    // disable the button
    var butt = document.getElementById("butt");
    butt.disabled = true;

    var s = document.getElementById("sermon");
    // only one files here, so fetch it
    var f = s.files[0];
    var f_size = null;
    var link = "{{ url_for('get_presigned')}}?file="+f.name+"&type="+f.type;
    var fd = new FormData();

    $.getJSON(link, function(data) {
      fields = JSON.parse(data.url);

      // we need the key, so let's get it and deal with it first!
      $("#link_store").val(fields.key);

      // now upload
      $.ajax({
        xhr: function() {
          var xhr = new window.XMLHttpRequest();

          xhr.upload.addEventListener("progress", function(evt) {
            f_size = evt.total;
            if (evt.lengthComputable) {
              var percentComplete = evt.loaded / evt.total;
              nanobar.go(percentComplete*100);
            }
          }, false);
          return xhr;
        },

        url: fields.url,
        type: 'PUT',
        data: f,
        headers: {
          "x-amz-acl":"bucket-owner-full-control"
        },
        processData: false,
        contentType: false,
        success: function(response){
          console.log("res: "+response);
          if(response != 0){
              $("#img").attr("src",response);
              $(".preview img").show(); // Display image element
          }

          // get the size and send it along with the form
          $("#size_sermon").val(f_size);
          // reenable the button
          butt.disabled = false;

          // now remove the data from the upload of other data
        },
        failure: function(resp) {
          console.log("fail response: "+resp);
        }
      });
    });
  });


  $("#thumb").change(function() {
    // firstly, lock the submit button
    var butt = document.getElementById("butt");
    butt.disabled = true;

    var thumb = document.getElementById("thumb");
    // only one files here, so fetch it
    var f = thumb.files[0];
    var link = "{{ url_for('get_presigned')}}?file="+f.name+"&type="+f.type;

    var fd = new FormData();

    $.getJSON(link, function(data) {
      fields = JSON.parse(data.url);

      // same as above
      $("#link_store_thumb").val(fields.key);

      // now upload
      $.ajax({
        xhr: function() {
          var xhr = new window.XMLHttpRequest();

          xhr.upload.addEventListener("progress", function(evt) {
            if (evt.lengthComputable) {
              var percentComplete = evt.loaded / evt.total;
              nanobar.go(percentComplete*100);
            }
          }, false);
          return xhr;
        },

        url: fields.url,
        type: 'PUT',
        data: f,
        headers: {
          "x-amz-acl":"bucket-owner-full-control",
          "Content-Type":"image"
        },
        processData: false,
        contentType: false,
        success: function(response){
          console.log("res: "+response);
          if(response != 0){
              $("#img").attr("src",response);
              $(".preview img").show(); // Display image element
          }

        },
        failure: function(resp) {
          console.log("fail response: "+resp);
        }
      });
    });
  });

</script>

<script type="text/javascript">
  $("#date_given").flatpickr({'dateFormat': 'd-m-Y'});
</script>
