{% include "layout.html" %}
{% include "header.html" %}

<script src="//cdnjs.cloudflare.com/ajax/libs/nanobar/0.2.1/nanobar.min.js"></script>
<div class="progress" id="progress"></div>
<style>
  .green {
    color: green;
  }

  .red {
    color: red;
  }
</style>

<script>
  // create a progress bar
  var options = {
    classname: 'progress',
    id: 'progress',
    target: document.getElementById('#progress')
  };

  var nanobar = new Nanobar( options );
  var status_url = "{{ url_for('task_status', t_id=task_id) }}";
  var done = false;

  function update_prog(status_url, nanobar) {
    $.getJSON(status_url, function(data){
      var bar = nanobar.el[0];
      if(data['state'] == 'SUCCESS' || data['state'] == 'FAILURE') {
        done = true;
      }
      nanobar.go(data['current']);
    } );
  };

  window.setInterval(function(){
    var a = '{{task_id}}';
    if(a != 0 && !done) {
      update_prog(status_url, nanobar);
    }
  }, 500);
</script>

<form method="POST" action="{{ url_for('upload') }}" enctype="multipart/form-data">
    {{ form.csrf_token }}
    {{ form.title.label}} {{ form.title }}<br>
    {{ form.thumb.label }} {{ form.thumb }}<br>
    {{ form.date_given.label }} {{ form.date_given }}<br>
    {{ form.sermon.label }} {{ form.sermon }}<br>
    {{ form.sermon_series.label }} {{ form.sermon_series }}<br>
    {{ form.description.label }} {{ form.description }}<br>
    <input type="submit" value="Upload">
</form>


saved to: {{ loc }}
